body {}

.container {
    display: flex;
    flex-direction: row;
    margin: 15%;
    flex-wrap: nowrap;


}

.sub-container1 {

    background: hsl(31, 77%, 52%);
    padding: 20px;
}

.sub-container2 {
    background: hsl(184, 100%, 22%);
    padding: 20px;
}

.sub-container3 {
    background: hsl(179, 100%, 13%);
    padding: 20px;
}

.input1 {
    font-weight: bold;
    border-radius: 10px;
    color: hsl(31, 77%, 52%);
}

.input2 {
    font-weight: bold;
    border-radius: 10px;
    color: hsl(184, 100%, 22%);
}

.input3 {
    font-weight: bold;
    border-radius: 10px;
    color: hsl(179, 100%, 13%);
}